# --- Fichiers de données (Contenu du dossier data) ---
# On ignore tous les fichiers JSON et Excel générés dans data
data/*.json
data/*.xlsx
data/*.csv

# --- Python ---
# Ignore les fichiers compilés par Python (inutiles sur le repo)
__pycache__/
*.pyc

# --- Environnement Virtuel ---
# Si tu crées un environnement virtuel, on ne le versionne pas
venv/
env/
.env

# --- IDE et Système ---
# Fichiers de configuration de ton éditeur (VS Code, PyCharm...)
.vscode/
.idea/
.DS_Store